.pd-left-sm {
  padding-left: 2rem !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald';
  font-weight: 300;
  line-height: 1.6;
}

.container {
  margin: 4rem auto;
  width: 80vw;
  background-color: #1c3041;
  box-shadow: 0 5rem 7rem rgba(0, 0, 0, 0.8);
}

.nav {
  padding: 2rem;
  background-color: #2fe6de;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.nav__search {
  justify-self: center;
  display: flex;
  justify-content: space-between;
}
.nav__search-bar {
  border-radius: 50px;
  font-size: 1.7rem;
  padding: 0.7rem 2rem;
  transition: all 0.2s;
  margin-right: 1.2rem;
}
.nav__search-bar:hover,
.nav__search-bar:focus {
  outline: none;
  transform: scaleX(1.05);
}
.nav__search-btn {
  border: none;
  border-radius: 5px;
  align-self: center;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #1c3041;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.6rem;
}
.nav__search-btn:hover,
.nav__search-btn:active {
  filter: brightness(70%);
}
.nav__user-option {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.nav__link:link,
.nav__link:visited {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.nav__link--header:link,
.nav__link--header:visited {
  justify-self: start;
}

.content-movie {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-auto-rows: max-content;
  gap: 2rem;
  align-items: start;
}

.landing-btn {
  padding: 2rem 0;
  font-size: 2rem;
  cursor: pointer;
  background-color: #2fe6de;
  border: none;
  transition: all 0.2s;
  width: 100%;
}
.landing-btn:focus {
  outline: none;
}
.landing-btn:hover,
.landing-btn:active {
  filter: brightness(70%);
}

.content-form {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-auto-rows: max-content;
  gap: 2rem;
  align-items: start;
}

.movie-card {
  height: 100%;
  background-color: rgba(47, 230, 222, 0.5);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
  color: white;
  outline: white solid 5px;
  outline-offset: -15px;
}
.movie-card__img {
  width: 100%;
}
.movie-card__details {
  display: flex;
  flex-direction: column;
}
.movie-card__overview {
  letter-spacing: 0.2rem;
  hyphens: auto;
  font-size: 1.5rem;
}
.movie-card__info {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.heading-2 {
  font-size: 3rem;
  font-weight: 300;
}

.heading-3 {
  font-size: 2rem;
  font-weight: 700;
}

.register-form {
  background-color: rgba(47, 230, 222, 0.5);
  width: 60%;
  height: 40vh;
  margin: 0 auto;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form {
  padding: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.form__field {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 2rem;
  margin: 2rem;
}
.form__input {
  padding: 1rem 2rem;
  margin-left: 1rem;
  font-size: inherit;
}
.form__btn {
  border: none;
  font-size: 3rem;
  padding: 1rem 2rem;
  background-color: #2fe6de;
  border-radius: 2rem;
  transition: all 0.2s;
  cursor: pointer;
}
.form__btn:hover {
  background-color: rgba(28, 48, 65, 0.5);
}
